<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1>Messages: </h1>
    <% messages.forEach(msg => { %>
    <%- include('message', {user: msg.user, message: msg.text, date: msg.added}) %>
    <% }) %>
</body>
</html>